form(method='POST' action='/config')
  div.form-group
    label(for='server') Object Detection Service URL:
    input#server.form-control(type='text', placeholder='http://rpi4-1.local:32001' name='server')
