extends layout

block content

  div(class="main")
    canvas(hidden)

    div(hidden id="progress")

    video(playsinline autoplay)  
      p Sorry, your browser does not support embedded videos.

    div(class="instructions")
      . 
        Tap on the image and wait for the image detection results.
        After completion tap again to reactivate the camera.




  

